<mat-form-field appearance="outline" class="field" #matPassword>
  <mat-label>{{label}}</mat-label>
  <input
    (input)="input($event)"
    [disabled]="disabled"
    [required]="required"
    [type]="hidePassword ? 'password' : 'text'"
    [value]="_value"
    matInput
  >
  <button
    (click)="togglePassword()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword"
    type="button"
    mat-icon-button matSuffix
  >
    <mat-icon class="material-icons-regular">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
