<mat-tab-group>
  <mat-tab label="Articles">
    <section class="generator-tab">
      <app-articles
        class="generator-table-component"
      ></app-articles>
    </section>
  </mat-tab>

  <mat-tab label="Courses">
    <section class="generator-tab">
      <app-courses class="generator-table-component"></app-courses>
    </section>
  </mat-tab>

  <mat-tab label="Tasks">
    <section class="generator-tab">
      <app-tasks class="generator-table-component"></app-tasks>
    </section>
  </mat-tab>

  <mat-tab label="Submissions">
    <section class="generator-tab">
      <app-submissions class="generator-table-component"></app-submissions>
    </section>
  </mat-tab>
</mat-tab-group>
